* {
  font-family: 'Comic Sans MS';
  margin: 0;
  padding: 0;
}

.logo {
  height: 70px;
  margin-right: 20px;
}

header {
  background-color: #BEEE62;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

nav {
  font-size: 25px;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-button {
  text-decoration: none;
  color: black;
  padding: 0 15px;
  transition: background-color 0.25s;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-button:hover {
  background-color: #4D9093;
  color: white;
  height: 100%;
  padding: 0 15px;
}

.logo-title {
  display: flex;
  align-items: center;
  
  padding: 10px;
}

main {
  background-color: #4D9093;
  min-height: calc(100vh - 140px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

footer {
  background-color: #70AE6E;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}